@import 'config';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-stack;
	font-size: 1rem;
	line-height: 1.6;
	background-color: $background-color;
	color: $text-color;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 500px;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: $dark-color;
	}
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

button {
	font: inherit;
}

input {
	margin: 1.2rem 0;

	[type='text'],
	[type='email'],
	[type='password'],
	[type='date'] {
		display: block;
		width: 100%;
		padding: 0.4rem;
		font-size: 1.2rem;
		border: 1px solid $border-color;
	}

	[type='submit'] {
		font: inherit;
	}
}

select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid $border-color;
}

textarea {
	resize: none;
}

table {
	th,
	td {
		padding: 1rem;
		text-align: left;
	}

	th {
		background: $light-color;
	}
}

#drum-machine {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin: auto;
}

#drumkit {
	border: $border-color 1px solid;
	border-radius: 10px 0 0 10px;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 200px;
	border: $border-color 1px solid;
	border-radius: 0 10px 10px 0;

	div {
		height: 50%;
		padding: 70px 0;
	}
}

.drum-pad {
	width: 100px;
	height: 100px;
}

.active {
	transform: translateY(1px);
	opacity: 0.8;
}

.slidecontainer {
	width: 100%;
	text-align: center;
}

@import 'utilities';
@import 'buttons';
@import 'text-styles';
@import 'forms';
@import 'navbar';
@import 'animations';
@import 'layout';
@import './customized-inputs/slider';

@import 'mediaqueries';
